@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #dedede;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:link,
a:visited,
a:active {
    outline: none;
    text-decoration: none;
    color: #F4EB84;
}

a:hover {
    outline: none;
    color: #fff;
}

img {
    display: block;
    width: 100%;
}

header {
    height: 100vh;
    width: 100%;
}

.business-card {
    margin: 0 auto;
    padding-top: 1em;
    width: auto;
    height: auto;
    background-color: rgba(0, 155, 184, .7);
}

ul {
    list-style-type: none;
    margin-bottom: 5em;
    padding: 0;
    clear: left;
}

li {
    display: block;
    width: 33%;
    float: left;
}

h1, p {
    color: white;
    font-weight: normal;
}

.icons {
    width: 60%;
    margin: 0 auto;
    opacity: .5;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
}

.icons:hover {
    opacity: 1;
}

@media only screen and (min-width: 25em) {
    .business-card {
        margin: 0 auto;
        width: 80%;
        -webkit-transition: all 250ms linear;
        transition: all 250ms linear;
    }
}

@media only screen and (min-width: 38em) {
    header {
        overflow: auto;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-image: url(../img/anna-misak-bg.jpg);
    }

    .img-none {
        width: 0px;
    }

    .business-card {
        position: absolute;
        width: 50%;
        padding-top: 1.5em;
        right: 20%;
    }
}

@media only screen and (min-width: 45em) {
    .business-card {
        width: 45%;
    }
}

@media only screen and (min-width: 60em) {
    .business-card {
        width: 35%;
        right: 25%;
    }

    .icons {
        width: 50%;
    }
}

@media only screen and (min-width: 80em) {
    .business-card {
        width: 30%;
    }
}
